apiVersion: apps/v1
kind: Deployment
metadata:
  name: next-app
spec:
  replicas: 2
  template:
    spec:
      containers:
        - name: next-app
          envFrom:
            - configMapRef:
                name: next-config
            - secretRef:
                name: next-db-secret
          resources:
            requests:
              memory: "2Gi"
              cpu: "2000m"
            limits:
              memory: "8Gi"
              cpu: "4000m"
