apiVersion: apps/v1
kind: Deployment
metadata:
  name: next-app
spec:
  replicas: 2
  template:
    spec:
      containers:
        - name: next-app
          envFrom:
            - configMapRef:
                name: next-config
            - secretRef:
                name: next-db-secret
          resources:
            requests:
              memory: "256Mi"
              cpu: "200m"
            limits:
              memory: "512Mi"
              cpu: "500m"
