apiVersion: v1
kind: Service
metadata:
  name: next-app
  labels:
    app: next-app
spec:
  type: LoadBalancer
  ports:
    - port: 3000
      targetPort: 3000
      protocol: TCP
      name: http
  selector:
    app: next-app
